.nav_bar_list {
  list-style-type: none;
  margin-top: 0px;
  padding: 0px;
  overflow: hidden;
  transition: 0.8s;
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.navbar_list {
  float: right;
}

.nav_anchor {
  margin:auto;
  text-decoration: none;
  font-style: normal;
  font-family: sans-serif;
  font-size: 17px;
  display: block;
  color: white;
  padding: 50px 25px;
  text-align: center;
  padding-top: 60px;
}

.nav_anchor:hover {
  color: grey;
}

.navbar_image {
  margin-top: 20px;
  padding-bottom: 2%;
  padding: 0px;
  overflow: hidden;
  padding-top: 1%;
  margin-left: 0px;
  padding-left: 0px;
  opacity 0;
  transition: opacity 2s ease-out;
}

.navigationbar {
  position: fixed;
}

.navimagechange  {
  margin-top: 20px;
  padding-bottom: 2%;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  padding-top: 1%;
  margin-left: 0px;
  padding-left: 0px;
  opacity: 0;
}

.homeimg {
  position: static;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}


.home_info_image {
  margin: 0 auto;
  background: #f9f9f9;
}

.homeinfo {
background: url('../images/background.jpeg') no-repeat center;
background-size: cover;
background-attachment: fixed;
height: 750px;
}

.intro {
font-family: sans-serif;
font-size: 17px;
padding: 30px;
padding-right: 10%;
background-color: #bfccc5;
color: white;
padding-bottom: 10%;
}

.intro_para {
float: left;
padding: 0 50px 50px 0;
font-family: sans-serif;
font-size: 17px;
color: white;
}

.about_us {
background: url('../images/aboutus.jpeg') no-repeat center;
background-size: cover;
background-attachment: fixed;
height: 1000px;
}

.about_us_block {
  padding-top: 200px;
  background-color: #0000008c;
  height: 800px;
}

.heading {
  text-align:center;
  color: white;
  font-size: 23;
  font-family: sans-serif;
}

/* TODO: Use consistent naming scheme */
.about_us_info {
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}

.acm_aim {
font-family: sans-serif;
font-size: 18px;
padding: 30px;
padding-right: 10%;
background-color: #feffff;
color: black;
padding-bottom: 15%;
}

.heading_aim {
text-align:center;
color: black;
font-size: 65px;
font-family: sans-serif;
}
