.nav_bar_list {
  list-style-type: none;
  margin-top: 0px;
  padding: 0px;
  overflow: hidden;
  transition: 0.8s;
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 2%;
}


.navbar_list {
  float: right;
}

.nav_anchor {
  margin:auto;
  text-decoration: none;
  font-style: normal;
  font-family: sans-serif;
  font-size: 120%;
  display: block;
  color: white;
  padding: 10% 25px;
  text-align: center;
  padding-top: 60px;
}

.nav_anchor:hover {
  color: grey;
}

.navbar_image {
  margin-top: 2%;
  padding-bottom: 2%;
  padding: 0px;
  overflow: hidden;
  padding-top: 1%;
  margin-left: 0px;
  padding-left: 0px;
  opacity 0;
  transition: opacity 2s ease-out;
}

.navigationbar {
  position: fixed;
}

.navimagechange  {
  margin-top: 20%;
  padding-bottom: 2%;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  padding-top: 1%;
  margin-left: 0px;
  padding-left: 0px;
  opacity: 0;
}

body {
  margin: 0;
}

.homeimg {
  position: static;
  background-attachment: scroll;
  background-size:100%;
  background-repeat: no-repeat;
  width: 100%;
}


.home_info_image {
  margin: 0 auto;
  background: #f9f9f9;
}

.homeinfo {
background: url('../images/background.jpeg') no-repeat center;
background-size: 100% 100%;
background-attachment: fixed;
height: 750px;
}

.intro {
padding-right: 10%;
background-color: #bfccc5;
color: white;
padding-bottom: 7%;
display: table;
}



.about_us {
background: url('../images/aboutus.jpeg') no-repeat center;
background-size: 100 100;
background-attachment: fixed;
height: 1000px;
}

.about_us_block {
padding-top: 200px;
background-color: #0000008c;
height: 800px;
}

.heading {
text-align:center;
color: white;
font-size: 65px;
font-family: sans-serif;
}

/* TODO: Use consistent naming scheme */
.about_us_info {
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}

.acm_aim {
font-family: sans-serif;
font-size: 18px;
padding: 30px;
padding-right: 10%;
background-color: #feffff;
color: black;
padding-bottom: 15%;
}

.heading_aim {
text-align:center;
color: black;
font-size: 65px;
font-family: sans-serif;
}

.contact_us {
  background: url('../images/contactus.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  height: 900px;
  margin: 0;
}

.contact_us_field {
  width: 35%;
  padding: 12px 25px;
  margin: 8px;
  font-family: sans-serif;
  font-size: 17px;
  background: #f3eeeeb3;
  border: none;
}

.contact_us_block {
  padding-top:150px;

}

.contact_us_form {
  padding-left: 37.5%
}

.contact_us_text {
  width: 35%;
  padding: 12px 25px;
  margin: 8px;
  font-family: sans-serif;
  font-size: 17px;
  background: #f3eeeeb3;
  border: none;
  resize: none;
}

input:focus {
  background:#dbdcdd;
  outline: none;
}

textarea:focus {
  background:#dbdcdd;
  outline: none;
}

.send_align {
  padding-left: 15%;
}

.send_button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 }

 .heading1_board {
 text-align:center;
 color: black;
 font-size: 19px;
 font-family: sans-serif;
 padding-bottom: 30px;
 }

.member_block {
  border-style: solid;
  display: inline-block;
  float:left;
  width: 19%;
  margin-right: none;
  height: 275px;
  border-width: 1px;
  border-color: white;

}


.Board {
  background: white;
  padding-left: 50px;
  padding-right: 0px;
  margin-right: 0px;
  height: 150px;
  padding-bottom: 600px;
}

.heading_Board {
  text-align:center;
  color: black;
  font-size: 65px;
  font-family: sans-serif;
  padding-top: 175px;
}

.board_picture {
  border-radius: 50%;
  display: block;
  padding: 0;

}

a.fa {
  text-decoration: none;
}


.Board_post {
  color:red;
  margin: none;
  font-family: sans-serif;
  padding-top: 0;
  padding-left: 15%;
}

.container {
  width:100%;
  margin: 0px auto;
}
 @media screen and (max-width:99%) {
    .container {
      width:100%;
    }
}

.image_container {
  padding: 10px;
  padding-left: 20px;
  padding-top: 50px;
  font-family: sans-serif;
  float:left;
  font-size: 17px;
}

.aim_block {
  padding-right: 10%;
  background-color: white;
  color: black;
  padding-bottom: 7%;
  display: table;
}

.Treasurer {
  color:red;
  margin: none;
  font-family: sans-serif;
  padding-top: 0;
  padding-left: 19%;
}

.mem_chair {
  color:red;
  margin: none;
  font-family: sans-serif;
  padding-top: 0;
  padding-left: 5%;
}

.gen_sec {
  color:red;
  margin: none;
  font-family: sans-serif;
  padding-top: 0;
  padding-left: 8%;
}

.vice_pres {
  color:red;
  margin: none;
  font-family: sans-serif;
  padding-top: 0;
  padding-left: 12%;
}
